.contact-form {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.form-group-name {
  display: flex;
  justify-content: space-between;
}
.form-group-name-prenom {
  width: 45%;
}
.form-group-name-nom {
  width: 45%;
}
.form-group-info {
  display: flex;
  justify-content: space-between;
}
.form-group-info-email {
  width: 45%;
}
.form-group-info-city {
  width: 45%;
}
.form-group {
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}
.contact-form-container {
  height: 120px;
  color: #ed7703;
  font-family: 'Archivo Black', Sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  line-height: 4.1em;
  font-weight: 900;
  text-align: center;
}

.submit-button {
  background-color: #ed7703;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .contact-form {
    width: 100%;
  }
  .form-group-name {
    flex-direction: column;
  }
  .form-group-name-prenom {
    width: 100%;
  }
  .form-group-name-nom {
    width: 100%;
  }
  .form-group-info {
    flex-direction: column;
  }
  .form-group-info-email {
    width: 100%;
  }
  .form-group-info-city {
    width: 100%;
  }
}
