/* Conteneur principal de la page Project */
.project {
  text-align: center;
  background-color: rgba(25, 76, 155, 0.05);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px 0px 43px 0px;
}

.project h1 {
  color: #ed7703;
  font-family: 'Archivo Black', Sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  line-height: 1.1em;
  font-weight: 900;
}

/* Conteneur des sections */
.project-container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1200px;
}

/* Sections de texte */
.project-container-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.project-section {
  flex: 1;
  max-width: 45%;
}

.project-section img {
  max-width: 100%;
  height: 460px;
  margin-bottom: 20px;
}

.project-container-first-textcontainer h1 {
  margin-bottom: 10px;
  font-family: 'Archivo Black', Sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 900;
}

.project-container-first-textcontainer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-container-first-textcontainer p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.project-container-first-textcontainer a {
  display: inline-block;
  background-color: #ed7703;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
}

/* Media queries pour la mise en page réactive si nécessaire */
@media (max-width: 768px) {
  .project-container-first {
    flex-direction: column;
    align-items: center;
  }

  .project-section {
    max-width: 100%;
    margin-bottom: 40px;
  }
}
/* Section du milieu avec les icônes */
.project-container-middle {
  text-align: center;
  margin: 40px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../img/galerie.jpg), no-repeat center center;
  background-size: auto, auto, auto;
  background-size: cover;
  padding: 120px 0;
  color: white;
}

.project-container-middle-title h2 {
  font-family: 'Archivo Black', Sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 900;
  margin: 10px 0 24px;
  text-align: center;
}

.project-container-middle-text {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-container-middle-text-1,
.project-container-middle-text-2,
.project-container-middle-text-3 {
  flex: 1;
  max-width: 200px;
  margin: 20px;
}

.project-container-middle-text-1 svg,
.project-container-middle-text-2 svg,
.project-container-middle-text-3 svg {
  font-size: 68px;
  margin-bottom: 10px;
}

.project-container-middle-text-1 h2,
.project-container-middle-text-2 h2,
.project-container-middle-text-3 h2 {
  font-family: 'Archivo Black', Sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 900;
  margin: 10px 0 24px;
  text-align: center;
}

.project-container-middle-text-1 p,
.project-container-middle-text-2 p,
.project-container-middle-text-3 p {
  font-size: 14px;
  color: white;
}

.project-container-middle-btn {
  background-color: #ed7703;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
